<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="title title-large">Наши предприятия</h2>
                <p>Ульяновский завод тяжелых и уникальных станков основан в 1956 году. За период своего существования завод выпустил около 10000 металлообрабатывающих станков, в том числе по заказам Германии, Италии, Канады, США, Франции, Швеции, Японии.</p>
                <p>Более 3000 предприятий России и стран СНГ успешно эксплуатируют вертикально-фрезерные, горизонтально-фрезерные и карусельно-фрезерные станки производства Ульяновского завода тяжелых и уникальных станков.</p>
                <p>Ульяновский завод тяжелых и уникальных станков специализируется на выпуске тяжелого металлорежущего оборудования повышенного и нормального классов точности для различных отраслей промышленности, среди которых автомобильная, авиационная и металлургическая промышленность.</p>
                <a href="#" class="button button-blue about__button">О компании</a>
                <a href="#" class="button button-border about__button">Отрасли промышленности</a>
            </div>
            <div class="col-md-6">
                <div class="about__img-wrap" style="background-image: url({{ asset('assets/img/about.jpg') }})"></div>
            </div>
        </div>
        <div class="about__map-wrap">
            <a href="#"><i class="fa fa-map-marker about__map-russia"></i></a>
            <a href="#"><i class="fa fa-map-marker about__map-austria"></i></a>
            <a href="#"><i class="fa fa-map-marker about__map-algeria"></i></a>
            <a href="#"><i class="fa fa-map-marker about__map-usa"></i></a>
        </div>
    </div>
</div>
