{% extends 'base.html.twig' %}
{% block body %}

{% include 'general/header.html.twig'  %}

<main class="main">

    {% include 'general/welcome.html.twig' %}

    <div class="offer">

        <div class="container">

            <h2 class="title title-large">Горячее предложение</h2>

            <div class="owl-carousel">

                <div class="offer__item">

                    <p class="offer__title">Колесорасточной станок</p>

                    <p class="offer__subtitle">KPC2791M</p>

                    <div class="offer__logo" style="background-image: url(img/item1.jpg);"></div>

                    <a href="#" class="button button-blue">Подробнее</a>

                </div>

                <div class="offer__item">

                    <p class="offer__title">Колесорасточной станок</p>

                    <p class="offer__subtitle">KPC2791M</p>

                    <div class="offer__logo" style="background-image: url(img/item1.jpg);"></div>

                    <a href="#" class="button button-blue">Подробнее</a>

                </div>

                <div class="offer__item">

                    <p class="offer__title">Колесорасточной станок</p>

                    <p class="offer__subtitle">KPC2791M</p>

                    <div class="offer__logo" style="background-image: url(img/item1.jpg);"></div>

                    <a href="#" class="button button-blue">Подробнее</a>

                </div>

                <div class="offer__item">

                    <p class="offer__title">Колесорасточной станок</p>

                    <p class="offer__subtitle">KPC2791M</p>

                    <div class="offer__logo" style="background-image: url(img/item1.jpg);"></div>

                    <a href="#" class="button button-blue">Подробнее</a>

                </div>

                <div class="offer__item">

                    <p class="offer__title">Колесорасточной станок</p>

                    <p class="offer__subtitle">KPC2791M</p>

                    <div class="offer__logo" style="background-image: url(img/item1.jpg);"></div>

                    <a href="#" class="button button-blue">Подробнее</a>

                </div>

                <div class="offer__item">

                    <p class="offer__title">Колесорасточной станок</p>

                    <p class="offer__subtitle">KPC2791M</p>

                    <div class="offer__logo" style="background-image: url(img/item1.jpg);"></div>

                    <a href="#" class="button button-blue">Подробнее</a>

                </div>

                <div class="offer__item">

                    <p class="offer__title">Колесорасточной станок</p>

                    <p class="offer__subtitle">KPC2791M</p>

                    <div class="offer__logo" style="background-image: url(img/item1.jpg);"></div>

                    <a href="#" class="button button-blue">Подробнее</a>

                </div>

                <div class="offer__item">

                    <p class="offer__title">Колесорасточной станок</p>

                    <p class="offer__subtitle">KPC2791M</p>

                    <div class="offer__logo" style="background-image: url(img/item1.jpg);"></div>

                    <a href="#" class="button button-blue">Подробнее</a>

                </div>

                <div class="offer__item">

                    <p class="offer__title">Колесорасточной станок</p>

                    <p class="offer__subtitle">KPC2791M</p>

                    <div class="offer__logo" style="background-image: url(img/item1.jpg);"></div>

                    <a href="#" class="button button-blue">Подробнее</a>

                </div>

            </div>

        </div>

    </div>

    <div class="about">

        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <h2 class="title title-large">Наши предприятия</h2>

                    <p>Ульяновский завод тяжелых и уникальных станков основан в 1956 году. За период своего существования завод выпустил около 10000 металлообрабатывающих станков, в том числе по заказам Германии, Италии, Канады, США, Франции, Швеции, Японии.</p>

                    <p>Более 3000 предприятий России и стран СНГ успешно эксплуатируют вертикально-фрезерные, горизонтально-фрезерные и карусельно-фрезерные станки производства Ульяновского завода тяжелых и уникальных станков.</p>

                    <p>Ульяновский завод тяжелых и уникальных станков специализируется на выпуске тяжелого металлорежущего оборудования повышенного и нормального классов точности для различных отраслей промышленности, среди которых автомобильная, авиационная и металлургическая промышленность.</p>

                    <a href="#" class="button button-blue about__button">О компании</a>
                    <a href="#" class="button button-border about__button">Отрасли промышленности</a>

                </div>

                <div class="col-md-6">

                    <div class="about__img-wrap" style="background-image: url({{ asset('assets/img/about.jpg') }}img/about.jpg)"></div>

                </div>

            </div>

            <div class="about__map-wrap">

                <a href="#"><i class="fa fa-map-marker about__map-russia"></i></a>
                <a href="#"><i class="fa fa-map-marker about__map-austria"></i></a>
                <a href="#"><i class="fa fa-map-marker about__map-algeria"></i></a>
                <a href="#"><i class="fa fa-map-marker about__map-usa"></i></a>

            </div>

        </div>

    </div>

    <div class="partner">

        <div class="container">

            <div class="row">

                <div class="col-md-8">

                    <h2 class="title title-large">Наши партнеры</h2>

                    <div class="partner__wrap">

                        <div class="partner__logo">

                            <a href="#"><img src="img/banner-rostok.gif" alt="" class="img-responsive"></a>

                        </div>

                        <div class="partner__desc">

                            <p>Генеральным партнером Ульяновского завода тяжелых и уникальных станков является группа компаний ООО "РОСТОК", выполняющая работы по финансированию производства оборудования, организации поставок, маркетингу и участию в тендерах.</p>

                            <p class="partner__address">Москва, ул. 3-я Сокольническая, д. 5, стр. 1</p>
                            <p class="partner__phone">Тел./факс +7 499 268 05 12, +7 499 268 83 17</p>
                            <div class="partner__email">

                                <a href="mailto:info@roctok.ru">info@roctok.ru</a>, <a href="http://roctok.ru/">www.roctok.ru</a>

                            </div>

                        </div>

                    </div>

                    <div class="partner__wrap">

                        <div class="partner__logo">

                            <a href="#"><img src="img/banner-ik.gif" alt="" class="img-responsive"></a>

                        </div>

                        <div class="partner__desc">

                            <p>Проектная и конструкторская компания: ООО "Инженерная Компания "КОМПЛЕКС-ЦЕНТР-РОСТОК", выполняющая работы по конструированию специальных металлообрабатывающих станков, проектированию участков и заводов по ремонту подвижного состава и вагоностроения, а также по комплексному техническому обслуживанию станков и всех видов их ремонта. </p>

                            <p class="partner__address">Ульяновск, ул. Энергетиков, д. 9</p>
                            <div class="partner__email">

                                <a href="mailto:kcentre@list.ru">kcentre@list.ru</a>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-md-4">

                    <h2 class="title title-large">Новости</h2>

                    <div class="latest-news__wrap">

                        <a href="#" class="latest-news__title">В Ульяновской области будет создано производство металлообрабатывающих станков</a>
                        <p class="latest-news__date">12.06.2018</p>

                        <a href="#" class="latest-news__title">Выездное заседание Комитета по координации производителей грузовых вагонов и их компонентов</a>
                        <p class="latest-news__date">07.03.2018</p>

                        <a href="#" class="latest-news__title">В Ульяновской области будет создано производство металлообрабатывающих станков</a>
                        <p class="latest-news__date">12.06.2018</p>

                        <a href="#" class="latest-news__title">В Ульяновской области будет создано производство металлообрабатывающих станков</a>
                        <p class="latest-news__date">12.06.2018</p>

                        <a href="#" class="latest-news__title">В Ульяновской области будет создано производство металлообрабатывающих станков</a>
                        <p class="latest-news__date">12.06.2018</p>

                        <a href="#" class="button button-blue">Все новости</a>

                    </div>

                </div>

            </div>

        </div>

    </div>

    {% include 'general/footer.html.twig'%}

</main>

{% endblock %}
