<div class="col-md-4">
    <h2 class="title title-large">Новости</h2>
    <div class="latest-news__wrap">
        <a href="#" class="latest-news__title">В Ульяновской области будет создано производство металлообрабатывающих станков</a>
        <p class="latest-news__date">12.06.2018</p>
        <a href="#" class="latest-news__title">Выездное заседание Комитета по координации производителей грузовых вагонов и их компонентов</a>
        <p class="latest-news__date">07.03.2018</p>
        <a href="#" class="latest-news__title">В Ульяновской области будет создано производство металлообрабатывающих станков</a>
        <p class="latest-news__date">12.06.2018</p>
        <a href="#" class="latest-news__title">В Ульяновской области будет создано производство металлообрабатывающих станков</a>
        <p class="latest-news__date">12.06.2018</p>
        <a href="#" class="latest-news__title">В Ульяновской области будет создано производство металлообрабатывающих станков</a>
        <p class="latest-news__date">12.06.2018</p>
        <a href="#" class="button button-blue">Все новости</a>
    </div>
</div>
