<div class="col-md-8">
    <h2 class="title title-large">Наши партнеры</h2>
    <div class="partner__wrap">
        <div class="partner__logo">
            <a href="#"><img src="{{ asset('assets/img/banner-rostok.gif') }}" alt="" class="img-responsive"></a>
        </div>
        <div class="partner__desc">
            <p>Генеральным партнером Ульяновского завода тяжелых и уникальных станков является группа компаний ООО
                "РОСТОК", выполняющая работы по финансированию производства оборудования, организации поставок,
                маркетингу и участию в тендерах.</p>
            <p class="partner__address">Москва, ул. 3-я Сокольническая, д. 5, стр. 1</p>
            <p class="partner__phone">Тел./факс +7 499 268 05 12, +7 499 268 83 17</p>
            <div class="partner__email">
                <a href="mailto:info@roctok.ru">info@roctok.ru</a>, <a href="http://roctok.ru/">www.roctok.ru</a>
            </div>
        </div>
    </div>
    <div class="partner__wrap">
        <div class="partner__logo">
            <a href="#"><img src="{{ asset('assets/img/banner-ik.gif') }}" alt="" class="img-responsive"></a>
        </div>
        <div class="partner__desc">
            <p>Проектная и конструкторская компания: ООО "Инженерная Компания "КОМПЛЕКС-ЦЕНТР-РОСТОК", выполняющая
                работы по конструированию специальных металлообрабатывающих станков, проектированию участков и заводов
                по ремонту подвижного состава и вагоностроения, а также по комплексному техническому обслуживанию
                станков и всех видов их ремонта. </p>
            <p class="partner__address">Ульяновск, ул. Энергетиков, д. 9</p>
            <div class="partner__email">
                <a href="mailto:kcentre@list.ru">kcentre@list.ru</a>
            </div>
        </div>
    </div>
</div>
