<div class="offer__item">
    <p class="offer__title">Колесорасточной станок</p>
    <p class="offer__subtitle">KPC2791M</p>
    <div class="offer__logo" style="background-image: url({{ asset('assets/img/item1.jpg') }});"></div>
    <a href="#" class="button button-blue">Подробнее</a>
</div>
