<div class="welcome">
    <div class="container">
        <h2 class="title title-large title-center welcome__title">Мы рады приветствовать Вас на нашем официальном
            сайте </h2>
        <div class="row">
            <div class="col-sm-6">
                <div class="welcome__img-wrap" style="background-image: url({{ asset('assets/img/1i.jpg') }})"></div>
            </div>
            <div class="col-sm-6">
                <div class="welcome__desc">
                    <p>Здесь Вы можете ознакомиться с профилем нашего предприятия, его мощностями, узнать об истории
                        завода, выпускаемой продукции и осуществленных нами проектах.</p>
                    <p>Коллектив нашего завода – это команда высококлассных специалистов, любящих свое дело, отдающих
                        ему все свои знания и опыт. Мы с большой гордостью представляем Вам поистине уникальные
                        возможности нашего предприятия, которое по праву считается в России и СНГ лидером в поставках
                        тяжелых и особо тяжелых фрезерных станков для всех отраслей промышленности.</p>
                    <p>За более чем пятидесятилетный срок существования завода нашими специалистами накоплен богатейший
                        опыт в решении задач самой высокой сложности. Обладая этим уникальным опытом, помноженным на
                        современные технологические возможности предприятия, мы всегда готовы предоставить Вам
                        качественное и квалифицированное решение в любой, даже самой сложной и нестандартной
                        ситуации.</p>
                    <p>Мы высоко ценим оказанное нам доверие, поэтому гарантированно заявляем, что Ульяновский завод
                        тяжелых и уникальных станков всегда будет оставаться для Вас честным и надежным партнером!</p>
                </div>
            </div>
        </div>
    </div>
</div>
