{% extends '@App/front/base.html.twig' %}

{% block title %}УЗТС | О заводе{% endblock %}

{% block body %}
    {% include '@App/front/common/header.html.twig' with {headerBlock: 'about'} %}

    <main class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="title title-large">О заводе</h2>
                    <div class="tabs">
                        <ul class="tabs__caption">
                            {% set i = 1 %}
                        {% for block in blocks %}
                            <li {% if i == 1 %} class="active" {% endif %} ><span>{{ block.title }}</span></li>
                            {% set i = i + 1 %}
                        {% endfor %}
                        </ul>
                        {% set n = 1 %}
                        {% for block in blocks %}
                            <div class="tabs__content {% if n == 1 %} active {% endif %}">{{ block.body|raw }}</div>
                            {% set n = n + 1 %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    {{ render(controller(
                        'AppBundle:Category:block'
                    )) }}
                </div>
            </div>
        </div>
        {% include '@App/front/common/footer.html.twig' %}

    </main>

{% endblock %}
